﻿@using System.Data.Entity.Infrastructure
@model WebUI.Models.LoginViewModel
@{
    ViewBag.Title = "Администратор: Вход";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div align="center" class="center-block">
    <h1>Вход администратора</h1>
    <p>Молви друг и войди!</p>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)

        <div class="form-group">
           @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { @class = "form-control", @id = "InputLogin", @required = "required", style = "max-width: 500px", placeholder = "Логин" } })
        </div>
        
        <div class="form-group">
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", id = "Password", required = "required", style = "max-width:500px", placeholder = "пароль" } })
        </div>
        <button type="submit" class="btn btn-default">Войти</button>
    }
</div>