﻿@model IEnumerable<string>

<div data-role="navbar">
    <ul>

        @foreach (var link in Model)
        {
            <li>
                @Html.RouteLink(link, new
                {
                    controller = "Books",
                    action = "List",
                    genre = link,
                    page = 1
                }, new
                {
                    data_transmition = "fade",
                    @class = (link == ViewBag.SelectedGenre ? " ui-btn-active" : null)
                })
            </li>
        }
    </ul>
</div>