﻿@model WebUI.Models.CartIndexViewModel
@{
    ViewBag.Title = "Корзина покупателя";
}


<h2>@ViewBag.Title</h2>

<table id="cartTable" class="table"> 
    <thead>
    <tr>
        <th>Количество</th>
        <th >Наименование</th>
        <th class="text-right">Цена</th>
        <th class="text-right">Сумма</th>

    </tr>

    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Book.Name - @line.Book.Author</td>
                <td class="text-right">@line.Book.Price.ToString("# руб")</td>
                <td class="text-right">@((line.Quantity * line.Book.Price).ToString("# руб"))</td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("Id",line.Book.Id)
                        @Html.HiddenFor(x=>x.ReturnUrl)
                        <input class="btn btn-sm btn-warning" type="submit" value="Удалить" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
    <td colspan="3" class="text-right">Итого:</td>
    <td class="text-right">
        @Model.Cart.ComputateTotalValue().ToString("# руб")
        </td>

    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    @Html.ActionLink("Оформить заказ","Checkout",null,new{@class="btn btn-primary"})
</div>