﻿

  #cartTable td {
      vertical-align: middle;
  }

  .navbar-right {
    float: right !important;
    margin-right: 15px;
    margin-left: 15px;
}

.field-validation-error {
    color: #f00;
}


.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

img {
    height: 200px;
    width: 160px;
}



