﻿@model Domain.Entities.Book
@{
    ViewBag.Title = "Панель администратора - Добавление товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    /* ОТключение проверки достоверности данных на стороне клиента (только на этой вьюхе)
     * HtmlHelper.ClientValidationEnabled = false;
     HtmlHelper.UnobtrusiveJavaScriptEnabled = false;*/
}
<div class="panel">
    <div class="panel-heading">
        <h2>Добавление новой книги</h2>
    </div>


    @using (Html.BeginForm())
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.Id)
            @foreach (var prop in ViewData.ModelMetadata.Properties)
            {
                if (prop.PropertyName != "Id" || prop.PropertyName != "ImagePath")
                {
                    <div class="form-group">
                        <label>@(prop.DataTypeName ?? prop.PropertyName)</label>
                        @if (prop.PropertyName == "Description")
                        {
                            @Html.TextArea(prop.PropertyName, null, new {@class = "form-control", rows = 5})
                        }
                        else
                        {
                            @Html.TextBox(prop.PropertyName, null, new {@class = "form-control"})
                        }
                        @Html.ValidationMessage(prop.PropertyName)
                    </div>
                }
            }
            <div class="editor-label">
                @Html.Label("Обложка")
            </div>
            <div class="editor-field">
                @Html.TextBox("file", "", new {@class = "btn btn-default", type = "file"})
            </div>

        </div>
        

        <div class="panel-footer">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
            @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
        </div>
    }

</div>


