﻿@model IEnumerable<Domain.Entities.Book>

@{
    ViewBag.Title = "Список товаров";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="center-block">
    <h2>Панель Администратора</h2>
    <h3>Список книг</h3>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th >
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>@Html.DisplayName("С обложкой")</th>
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th class="text-center">действия</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="text-right">
                        @item.Id
                    </td>
                    <td>
                        @Html.ActionLink(item.Name, "Edit", new {item.Id})
                    </td>
                    <td>
                        @Html.CheckBox("обложка", new { @checked = String.IsNullOrEmpty(item.ImagePath) ? "unchecked" : "checked", @disabled = "disabled" })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>

                    <td class="text-right">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td class="text-center">
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("Id", item.Id)
                            <input type="submit" class="btn btn-default btn-xs" value="Удалить" />
                        }
                    </td>
                </tr>
            }

        </table>
    </div>

    <div class="panel-footer">
        @Html.ActionLink("Добавить", "Create", null, new {@class = "btn btn-default"})
    </div>
</div>