﻿@model Domain.Entities.Book

<div class="well">
    <div class="row">

        <div class="col-xs-3">
            @if (Model.ImagePath != null)
            {
                <img src="@Url.Content("~/Images/" + System.IO.Path.GetFileName(Model.ImagePath))" alt="" class="img-thumbnail" />
            }
            else
            {
                <img src="@Url.Content("~/Images/Book-NoName.jpg")" alt="" class="img-thumbnail" style="width:250px" />
            } 
        </div>
        
       
        <div class="col-xs-7">

            <h3>
                <strong>@Model.Name</strong>
            </h3>
            <h4>
                <strong>@Model.Author</strong>
            </h4>

            <h5>
                <p >
                    @Model.Description
                </p>
            </h5>
        </div>
        <div class="col-xs-2" align="right">
            
            <div class="input-group">
                <h2>
                    <strong class="label label-primary">@Model.Price.ToString("# руб.")</strong>
                </h2>

                <h2>
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        @Html.HiddenFor(x => x.Id)
                        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                        <input type="submit" class="btn btn-success" id="basic-url" value="В корзину" />
                    }
                </h2>
            </div>



        </div>
       
    </div>
 
</div>