﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet"/>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>

</head>
<body>

<div class="navbar navbar-inverse" role="navigation">
    <a class="navbar-brand" href="#">
        <span class="hidden-xs">  BookStore - Книжный магазин</span>
        <div class="visible-xs">Book</div>
        <div class="visible-xs">Store</div>
    </a>
    @Html.Action("Summary", "Cart")
</div>

<div class="visible-xs">
    @Html.Action("Menu", "Nav", new { horizontalNav = true })
</div>

    <div class="row panel">
        <div id="genres" class="col-sm-3 hidden-xs">
            @Html.Action("Menu", "Nav")
        </div>

        <div class="col-sm-8">
            @RenderBody()
        </div>
    </div>
</body>
</html>